<h1 class="title-show"> <%= post.title %></h1>
<h1 class="author-show"> by <%= post.author.name %> </h1>

<p class="show-content"><%= post.content %></p>



<hr />

<h1> COMMENTS: </h1>

<form class="add-comment" action="" method="POST">
    <input class="comment-ins"type="text" name="name" placeholder="Name" required>
    <textarea type="text" name="content" placeholder="Comment..." required></textarea>
    <input hidden type="text" name="postId" value="<%= post.Id%>">
    <input class="comment-ins"type="submit" value="Add Comment!">
</form>

<section class="show-comments">
<% post.comments.forEach(function(comment) {%>
    <div class="well">
        <h4><%= comment.content %></h4>
        <p>By: <%= comment.name%></p>

    </div>
<% }); %>
<section>

<div class="back-btn">
<a href="/">&larr; Back Home</a>
</div>